#style-editor {
    position: fixed;
    z-index: 2000;
    right: 0; 
    top: 0px;
    height: calc(100% - 32px);
    border-left: 1px solid $gray;
}

.style-editor-resizable {
    position: relative;
    width: 340px;
    
    .ui-resizable-handle {
        position: absolute;
        height: 100%;
        top: 0;
        left: -6px;
        width: 12px;
        z-index: 9000;

        &:hover {
            cursor: w-resize;
        }
    }
}


.selector-info {
    padding: 3px;
    background: $gray;
    border-bottom: $border;

    .source {
        display: none;
    }

    .media-query {
        display: none;
    }

    .icon {
        display: inline-block;
        width: 22px;
        height: 22px;
        padding-top: 4px;
        margin-right: 3px;
        border-radius: 2px;
        font-size: 14px;
        text-align: center;
        background: rgba(black, .2);
    }
}

.marked-source {
    position: relative;
}
.marked-source-start {
    // position: relative;

    &:before {
        content: '';
        position: absolute;
        border-left: 2px solid $green;
        top: 0;
        left: -45px;
        height: 100%;
    }
}